.wrapper {
    position: relative;
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    border-radius: 30px;

    & h1 {
        font-family: 'Comic Sans MS',cursive;
        padding-top: 20px;
        color: #707981;
        opacity: 0.8;
    }
}

.loading {
    position: absolute;
    left: 24%;
    top: 28%;
    z-index: 9999;
}

.form {
    padding: 20px 50px 30px 50px;

    &.disabled {
        opacity: 0.5;
    }

    &__input, &__message {
        padding: 0 20px;
        background-color: #E9EFF6;
        color: #000000c9;
        outline: none;
        margin-bottom: 13px;
        line-height: 40px;
        border-width: 0;
        border-radius: 20px;
        transition: all 0.5s ease;

        &:focus {
            box-shadow: 0 0 3pt 2pt red;
        }
    
        &:invalid {
            box-shadow: 0 0 3pt 2pt red;
        }
    
        &:valid:focus {
            box-shadow: 0 0 3pt 2pt green;
        }
    }

    &__message {
        resize: none;

        &::-webkit-scrollbar { 
            width: 0; 
        }
    }
    
    &__button {
        color: black;
        outline: none;
        background-color: #f69a73;
        border-bottom: 4px solid #d87d56;
        transition: all 0.1s ease;

        &:active {
            -webkit-transform: scale(0.96);
            -o-transform: scale(0.96);
            -ms-transform: scale(0.96);
            transform: scale(0.96);
        }

        &:focus {
        color: black;
        background-color: #f69a73;
        border-color: transparent;
        border-bottom: 4px solid #d87d56;
        }
    }
}



